.contracts-type-container {
    padding-top: 90px;
    display: flex;
    flex-direction: column;

    .contracts-type {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 90px;

        .contract-type {
            border-radius: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            flex-basis: calc((100% - 120px) / 2);

            &:nth-child(odd) {
                background: var(--title-underline-before-bg);
            }

            &:nth-child(even) {
                background: var(--title-underline-after-bg);
            }

            .contract-type-title {
                text-align: center;
                padding-bottom: 32px;
            }

            .contract-type-subtitle {
                text-align: center;
                padding-bottom: 64px;
            }
        }
    }
}

