.footer {
    display: flex;
    justify-content: space-between;
    gap: 180px;
    padding-top: 56px;

    .footer-left {
        display: flex;
        gap: 180px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        width: 160px;

        p {
            color: var(--text);
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
            padding-bottom: 16px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        li {
            cursor: pointer;
            padding-left: 16px;
            color: var(--text);
        }

        .social-media {
            display: flex;
            flex-direction: row;
            gap: 16px;

            li {
                padding-left: 0;
            }

            li a {
                padding: 2px;
                display: inline-block;
                background-color: var(--social-media-bg);
                border-radius: 8px;
            }

            li a img {
                width: 32px;
                height: 32px;
            }
        }
    }
}

