body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    @apply text-text text-[18px] font-[400] leading-[22px];
}

.button {
    @apply p-[10px] rounded-[39px] bg-button-violet-bg text-button-violet text-[16px] font-[600] leading-[20px] text-center cursor-pointer hover:text-white;
}

.button-2 {
    @apply rounded-[6px] bg-button-2-bg hover:bg-button-2-bg-hover text-white text-[14px] font-[500] leading-[20px] p-[8px] cursor-pointer;
}

.button-3 {
    @apply rounded-[39px] bg-button-3-bg hover:bg-button-3-bg-hover text-button-3-text text-[16px] font-[600] leading-[20px] uppercase text-center py-[22px] px-[50px] cursor-pointer;
}

.button-transparent {
    @apply rounded-[39px] text-text text-[16px] font-[600] leading-[20px] uppercase text-center py-[22px] px-[50px] border border-border-white hover:border-border-white-hover cursor-pointer;
}

.gear {
    animation: spin 2s linear infinite paused;

    @variant hover {
        animation-play-state: running;
    }
}

.title {
    @apply text-title text-[36px] font-[600] leading-[40px] mb-[18px];
}

.title-2 {
    @apply text-text text-[64px] font-[800] leading-[78px];
}

.subtitle {
    @apply text-subtitle text-[14px] font-[300] leading-[20px];
}

.subtitle-2 {
    @apply text-text text-[32px] font-[500] leading-[48px];
}

.label {
    @apply text-text text-[14px] font-[600] leading-[14px];
}

.input {
    @apply border border-border-white rounded-[6px] shadow-[#fff/0px/1px/2px/0px] text-input-text text-[14px] font-[400] leading-[17px];
}

.items-list {
    @apply flex flex-col gap-[34px] w-full py-[34px] px-[71px];
}
