.nft-container {
  width: 100%;
}

.nft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nft__form {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  width: 500px;
  gap: 18px;
}

.nft__form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.nft__input {
  margin-top: 10px;
  padding: 12px 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.2s;
}

.nft__input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.nft__button {
  margin-top: 18px;
  background-color: #2563eb;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.nft__button:hover {
  background-color: #1d4ed8;
}

.nft__label {

} 