:root {
    --background: #fff;
    --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));
.dark:root {
    --background: rgb(48, 48, 48);
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

.dark .svg {
    @apply invert;
}
